#background {
  height: 400px;
  width: 100vw;
  background-color: #001c8a;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  margin-bottom: 50px;
}
 
#background div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}