nav {
  display: flex;
  height: 120px;
  background: #4056a1;
  width: 100vw;
  color: #fff;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

nav span {
  padding: 1.5em;
}

nav span strong {
  font-weight: 900;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}