nav {
  display: flex;
  background-color: #001c8a;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  width: 100vw;
  color: #fff;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

nav span {
  padding: 0 24px;
}

nav span strong {
  font-weight: 900;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-right: 24px;
  margin-top: 36px;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}

/* ARROW ANIMATION */
nav div i {
  color: red;
  margin-top: 12px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}