/* NEW TWEET SECTION */
.new-tweet {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.new-tweet .error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: 5px;
  margin-bottom: 30px;
}

.new-tweet h2 {
  text-align: center;
  font-weight: 900;
}

.new-tweet label {
  margin: 0px auto;
  font-weight: 900;
  color: #333;
}

#tweet-text {
  display: flex;
  margin: 12px auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-bottom: 3px solid #333;
  padding: 6px;
  height: 42px;
  background: none;
}

#tweet-text:focus {
  outline: 0;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin: 0 auto;
}

.counter {
  position: relative;
  color: #333;
  font-family: 'Bungee', sans-serif;
}

.tweet-btn {
  color: #fff;
  background: #4056a1;
  font-family: 'Bungee', sans-serif;
  outline: 0;
  border: none;
  padding: 6px;
}

.tweet-btn:hover {
  background: #001c8a;
}

/* TWEETS SECTION */
.tweet {
  border: 3px solid #333;
  margin-bottom: 30px;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}

.tweet .profile-img {
  opacity: 60%;
  width: 38px;
  height: 30px;
  margin-right: 6px;
}

.tweet header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweet .username {
  color: rgba(0, 0, 0, 0);
}

.tweet-content {
  padding: 18px;
  font-size: 30px;
}

.footer-container {
  padding: 12px;
  width: 98%;
  margin: 0 auto;
  border-top: 3px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .icons {
  padding: 2px;
  font-size: 12px;
  color:rgba(64, 86, 161, 0.7);
}


/* HOVER EFFECTS */
.tweet:hover {
  box-shadow: 5px 5px 5px 0px, 11px 11px 0px 4px rgba(64, 86, 161, 0.7);
}

.tweet:hover .username {
  color: rgba(64, 86, 161, 0.7);
}

.tweet:hover .profile-img {
  opacity: 100%;
}

.tweet:hover .icons {
  padding: 2px;
  font-size: 14px;
  color:rgba(64, 86, 161, 1);
}

.tweet:hover .name,
.tweet:hover .tweet-content, 
.tweet:hover .footer-container {
  font-weight: bold;
}

/* RESPONSIVE DESIGN */

/* LAPTOPS / DESKTOPS: MINIMUM WIDTH OF 1024 */
@media only screen and (min-width: 1024px) {

  nav {
    height: 120px;
    background: #4056a1;
    position: fixed;
  }

  nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-right: 24px;
  }

  .container {
    margin-top: 185px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    width: 55vw;
    justify-content: flex-end;
  }

  #background {
    margin-top: 185px;
    top: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    max-width: 33vw;
    max-height: 65vh;
    margin-left: 30px;
  }
}

